<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021668883034-pb297n0vou8ntb8o494ul7lb2d3njon2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021668883034-pb297n0vou8ntb8o494ul7lb2d3njon2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1021668883034-cobc2hrajlb3ritosetj94mktlbknfi4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCotYJ8f0Ym3hP7xxGFKAavIKKVxeldoo</string>
	<key>GCM_SENDER_ID</key>
	<string>1021668883034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cleanFirenote</string>
	<key>PROJECT_ID</key>
	<string>bloc-firebase-71dff</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-firebase-71dff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021668883034:ios:00f49fd5303b03cefd7663</string>
</dict>
</plist>